
.boton_personalizado{
    text-decoration:none;
    padding:10px;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    background-color:#000000;
    border-radius:6px;
    border:2px solid #ffffff;
    font-family:aharoni, times;
  }

.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: .9;
  
  
}
legend{
  font-size: 2em;
  color: #ffffff; 
}

section{
  
  padding: 0.1em 0.1em 0.1em 0.1em;
  border : 1px solid black;
}
fieldset
{
  left:50%;
  top:50%;
  width: 700px;
}
#formula {
  margin-top: 150px;
}
div{
width: 25%;
}
.formulario
{
	width:auto;
}


footer{
  margin-top: 50px;
  margin-left: 50px;
  padding: 50px;
  background: url(../img/ppalb.jpg) no-repeat;
